* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: arial;
}

.navbar {
   height: 60px;
   width: 100%;
   background-color: #000000;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

/** box 1 **/

.nav-logo {
   height: 59px;
   width: 104px;
}

.border {
   border: 1px thick transparent;
}

.border:hover {
   border: 2px solid rgb(255, 255, 255);
}

.add-icon {
   display: flex;
}

#add-first {
   font-size: 0.85rem;
   color: #cccccc;
   margin-left: 16px;
}

#add-sec {
   font-size: 1rem;
   margin-left: 3px;
}

/* box 3 */

.nav-search {
   display: flex;
   align-items: center;
   justify-content: center;
   /*height: 40px; */
   /* width:90px; */
   border-radius: 4px;
}

.nav-search:hover {
   border: 3px solid orange;
}

.search-icon {
   background-color: #b66412;
   width: 45px;
   height: 40.6px;
   padding: 0px;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   border: none;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #0f1111
}

.search-all {
   height: 39px;
   /* padding-left: 5px; */
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   border: none;
   background-color: #e6e6e6;
}

.search-bar {
   height: 39px;
   width: 600px;
   border: none;
}

/* box 4 */
.signin {
   font-size: 0.85rem;
   padding-left: 5px;
}

.account-list {
   font-size: 1rem;
   color: white;
   font-weight: 700;
}

/* box 5 */
.return {
   font-size: 0.80rem;
}

.order {
   font-size: 1rem;
}

/* box 6  */

.cart-icon i {
   font-size: 2rem;
}

.cart-icon {
   display: flex;
   font-weight: 700;
   align-items: end;
}

.panel {
   background-color: #0f1111d3;
   display: flex;
   align-items: center;
   height: 40px;
   margin: 0;

}

.menu {
   display: flex;
   align-items: center;
   color: white;
   padding: 8px;
}

.menu i {
   font-size: 1.6rem;

}

.menu p {
   font-weight: 550;
   padding-left: 5px;
   font-size: 1.2rem;
}

.pannel-opt {
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: white;
}

.deals,
.service,
.registry,
.cards,
.sell {
   margin-left: 20px;
   padding: 8px;
}

.hero-section {
   background-image: url(/7130x7c9NmL._SX3000_.jpg);
   background-size: cover;
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: flex-end;


}


.hero-msg {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 40px;
   font-size: 0.85rem;
   background-color: white;
   width: 97%;
   margin-bottom: 40px;
}

.home-kitchen {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   background-color: #ccccccd6;
   justify-content: space-evenly;
   padding-top: 20px;
   align-items: center;
}

.shooping {
   padding: 10px;
   background-color: white;
   width: 23%;
   margin: 5px;
   display: flex;
   flex-direction: column;
   gap: 7px;
}

.shooping h1 {
   font-size: 1.1em;
   font-weight: 700;
}

.items-images {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   flex-direction: row;
}

.items img {
   height: 100px;
   width: 130px;
   font-weight: 100;
}

.items h3 {
   font-size: 0.7em;
}

.game-images {
   height: 234.5px;
   width: 200px;

}

.game-items img {
   height: 235px;
   width: 270px;

}

.game-images {
   width: 100%;
   /* display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   flex-direction: row; */
}

.kitchen-item1 img {
   height: 117px;
   width: 270px;

}

.kitchen-item img {
   height: 60px;
   width: 85px;
}

.kitchen-item h3 {
   font-size: 0.7em;
}

.toy-images {
   height: 234.5px;
   width: 200px;

}

.new-year-shop img {
   height: 235px;
   width: 270px;
}

.new-year {
   height: 234.5px;
   width: 200px;
}

a {
   text-decoration: none;
}

.bottom-panal {
   background-color: #273b55;
   height: 47px;
}

.bottom-panal a {
   color: white;
   font-size: 0.87rem;
   display: flex;
   justify-content: center;
   margin-top: 16px;
   padding-top: 16px;
   align-self: center;
}

.discription {
   /* height: 400px; */
   background-color: hsl(213, 28%, 19%);
   display: flex;
   justify-content: space-evenly;
   align-items: flex-start;
   color: white;
   padding: 30px;

}

.discription li {
   list-style-type: none;
   color: #e6e6e6;
   display: flex;
   align-items: flex-end;
   flex-direction: row;
   font-size: 0.85rem;
   justify-content: space-between;
   padding-top: 10px;
}

.bottom-section {
   /* height: 400px; */
   background-color: #131A22;
   display: flex;
   justify-content: space-evenly;
   color: white;
   padding: 80px;
   flex-wrap: wrap;
   gap: 7%;
}

.bottom-option {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   width: 10%;
   /* justify-content:space-between; */
   /* align-items: center; */
   flex-wrap: wrap;


}

.bottom-option h5 {
   font-weight: 600;
}

.bottom-option p {
   font-size: 0.85em;
   color: #e6e6e6;
   ;
}

.bottom-option:hover {
   text-decoration: underline;
}

.copyright {
   background-color: #131A22;
   text-align: center;
   font-size: 0.85em;
   color: white;
   padding-bottom: 2em;
}

@media only screen and (max-width: 600px) {
   .search-bar {
      height: 39px;
      width: 30%;
      border: none;
   }
   .nav-search{
      width: 90px;
   }
   .pannel-opt{
      width: 80%;
      font-size: 0.85em;
      gap:2px;
   }
   .deals,
.service,
.registry,
.cards,
.sell {
   padding: 9px 1px;
}
.hero-section{
   height: 180px;
}
.hero-msg{
   height: 33px;
}
.items img {
   height: 90px;
   width:110px;
   font-weight: 100;
}
.shooping{
   width: 48%;
   overflow: hidden;
}
.game-items img{
  width: 100%;
}
.toy-images  img{
   width: 253px;
}
.new-year img{
   width: 126%;;
}
.discription {
gap: 15px;
}
.bottom-section{
   padding:20px;
   gap: 20px;
}
.bottom-option{
   width: 30%;
}
.kitchen-item1 img{
   width: 100%;
}
.kitchen-item img{
   width: 75px;
}
}
